{% extends 'global/base.html' %}

{% block 'content' %}
    <div class="info-container info">
        <h1>Sobre Mim</h1>

        <p>Olá! Meu nome é <strong>Max Dias Vieira Peixoto</strong> e tenho <strong>25 anos</strong>. Sou apaixonado por <strong>tecnologia</strong>, <strong>programação</strong> e <strong>jogos</strong>. Minha jornada começou na <strong>ESSA ESCOLA TÉCNICA PROFISSIONALIZANTE</strong>, onde me formei em <strong>Tecnologia da Informação e Informática</strong> em <strong>2021</strong>. Atualmente, estou cursando <strong>Análise e Desenvolvimento de Sistemas</strong> na <strong>Uninter</strong>, onde continuo a expandir meus conhecimentos e habilidades.</p>

        <p>Para complementar minha formação, fiz vários cursos na Udemy, incluindo <strong>Excel (50 horas)</strong>, <strong>Desenvolvimento Web (120 horas)</strong> e <strong>Django (50 horas)</strong>. No momento, estou aprendendo <strong>React</strong>, com planos de começar <strong>Next.js</strong> em breve. Tenho um bom conhecimento em <strong>Django</strong>, que é a tecnologia que usei como backend para o meu site, além de ser proficiente em <strong>HTML</strong>, <strong>CSS</strong> e <strong>JavaScript</strong> em nível intermediário. Também tenho experiência com bancos de dados <strong>MySQL</strong> e <strong>SQL</strong>.</p>

        <p>Estou em busca do meu primeiro emprego na área de <strong>TI</strong> e estou sempre procurando me manter atualizado sobre as últimas tendências e frameworks que são lançados. Acredito que a atualização constante é fundamental para o sucesso na tecnologia.</p>

        <p>Estou animado para aplicar meus conhecimentos e contribuir para um time inovador! Você pode conhecer melhor meu trabalho e projetos em meu <a href="https://github.com/seuusuario" target="_blank">GitHub</a>.</p>


    </div>
{% endblock 'content' %}