{% extends 'global/base.html' %}
{% load static %}

{% block 'content' %}
    <div id="container-my-profile">
        <div class="container-profile">
            <h2>Perfil de {{profile.username.first_name}} {{profile.username.last_name}}</h2>
            {% if profile.profile_photo %}
                <img src="{{profile.profile_photo.url}}">
            {% else %}
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
            {% endif %}
            <p>Mora em {{profile.current_city}}</p>
            <p>Nasceu em {{profile.hometown}}</p>
            <p>{{profile.get_marital_status_display}}</p>
            <p>Data de criação da conta: {{profile.username.date_joined  }}</p>
            <p>Último acesso: {{profile.username.last_login}}</p>

        </div>
        <div class="container-posts">
            {% include 'global/partials/messages.html' %}
            <div class="container-post">
                <h2>Posts de {{profile.username.first_name}} {{profile.username.last_name}}</h2>
                {% if posts %}
                    {% include 'authors/blog/post.html' %}
                {% else %}
                    <h4 style="margin-top: -50px; grid-row: 2;">{{profile.username.first_name}} {{profile.username.last_name}} não publicou nada ainda 😔</h4>
                {% endif %}
            </div>
        </div>
    </div>
<script src="{% static 'utils/js/modal.js' %}"></script>
{% endblock 'content' %}