#container-my-profile {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f0e9e9;
    border-radius: 10px;
}

.container-profile p {
    margin-bottom: 5px;
    padding: 0;
    font-size: 0.9rem;
}

.container-profile img {
    width: 30%;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 5px solid #dadada;
}

.container-profile, .container-posts {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}

.container-profile h2 {
    margin-bottom: 25px;
}


.container-post {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 30px;
    padding: 15px;
    height: 400px;
    overflow-y: auto;
}


@media only screen and (max-width: 600px) {
    #container-my-profile{
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .container-post {
        flex-direction: column;
        align-items: center;
    }

    .container-posts, .container-profile {
           width: 80%;
           margin: 0 auto;
           margin-top: 20px;
           margin-bottom: 20px;
    }


    .container-post .btn-add-post {
        grid-column-start: 0.4;
        grid-column-end: 0.6;
    }
}

