<footer id="footer">
    <div id="social-media">
        <a href="https://www.facebook.com/MaxDias29"><i class="fa-brands fa-facebook" style="color: #3b5998;"></i></a>
        <a href="https://www.instagram.com/__maxdias/"><i class="fa-brands fa-instagram" style="color: #E1306C;"></i></a>
        <a href=""><i class="fa-brands fa-youtube" style="color: #FF0000;"></i></a>
        <a href="https://www.linkedin.com/in/max-dias-a45276280/"><i class="fa-brands fa-linkedin" style="color: #0077B5;"></i></a>
    </div>
    <div>
        <p>Criado por Max ❤️</p>
    </div>
</footer>